response
    services(expire=43200 method="get" mode="operation" product_domain=1 status=0)
        item(name="keepalive" url=keepaliveUrl)
        item(name="ntp" url=ntpUrl)
        item(name="services" url=selfUrl)
        item(name="dlstatus" url=selfUrl)
        item(name="cardmng" url=selfUrl)
        item(name="eacoin" url=selfUrl)
        item(name="userdata" url=selfUrl)
        item(name="userid" url=selfUrl)
        item(name="pcbtracker" url=selfUrl)
        item(name="pcbevent" url=selfUrl)
        item(name="message" url=selfUrl)
        item(name="facility" url=selfUrl)
        item(name="apsmanager" url=selfUrl)
        item(name="sidmgr" url=selfUrl)
        item(name="package" url=selfUrl)
        item(name="uploader" url=selfUrl)
        item(name="local" url=selfUrl)
        item(name="local2" url=selfUrl)
        item(name="lobby" url=selfUrl)
